@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,700italic);
section {
  text-align: center; }

button {
  font: 400 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  border: solid 1px currentColor;
  padding: 1em;
  margin: 1.5em 1em;
  font-weight: 600; }

.type1 .pri {
  color: #4680FF;
  background-color: #acc6ff;
  border: solid 1px transparent;
  cursor: pointer; }
  .type1 .pri:hover {
    border: solid 1px #417cff;
    background-color: #417cff;
    color: #acc6ff;
    box-shadow: 0px 1px 4px white; }
.type1 .sec {
  color: #4680FF;
  background-color: white;
  cursor: pointer; }
  .type1 .sec:hover {
    border: solid 1px #417cff;
    background-color: #417cff;
    color: #acc6ff; }

.type2 .pri {
  color: #28A738;
  background-color: #5dd86c;
  border: solid 1px transparent;
  cursor: pointer;
  border-radius: 8px; }
  .type2 .pri:hover {
    border: solid 1px #27a337;
    background-color: #27a337;
    color: #5dd86c;
    box-shadow: 0px 1px 4px #afecb7; }
.type2 .sec {
  color: #28A738;
  background-color: white;
  cursor: pointer;
  border-radius: 8px; }
  .type2 .sec:hover {
    border: solid 1px #27a337;
    background-color: #27a337;
    color: #5dd86c; }

.type3 .pri {
  color: #FF281D;
  background-color: #ff8983;
  border: solid 1px transparent;
  cursor: pointer;
  border-radius: 12px; }
  .type3 .pri:hover {
    border: solid 1px #ff2318;
    background-color: #ff2318;
    color: #ff8983;
    box-shadow: 0px 1px 4px #ffeae9; }
.type3 .sec {
  color: #FF281D;
  background-color: white;
  cursor: pointer;
  border-radius: 12px; }
  .type3 .sec:hover {
    border: solid 1px #ff2318;
    background-color: #ff2318;
    color: #ff8983; }

.type4 .pri {
  color: #d6bf16;
  background-color: #f1e37a;
  border: solid 1px transparent;
  cursor: pointer;
  border-radius: 18px; }
  .type4 .pri:hover {
    border: solid 1px #e8cf18;
    background-color: #e8cf18;
    color: #f6eda8;
    box-shadow: 0px 1px 4px #fbf7d6; }
.type4 .sec {
  color: #d6bf16;
  background-color: white;
  cursor: pointer;
  border-radius: 18px; }
  .type4 .sec:hover {
    border: solid 1px #e8cf18;
    background-color: #e8cf18;
    color: #f6eda8; }

.type5 .pri {
  color: #FF6917;
  background-color: #ffab7d;
  border: solid 1px transparent;
  cursor: pointer;
  border-radius: 24px; }
  .type5 .pri:hover {
    border: solid 1px #ff6612;
    background-color: #ff6612;
    color: #ffab7d;
    box-shadow: 0px 1px 4px #ffede3; }
.type5 .sec {
  color: #FF6917;
  background-color: white;
  cursor: pointer;
  border-radius: 24px; }
  .type5 .sec:hover {
    border: solid 1px #ff6612;
    background-color: #ff6612;
    color: #ffab7d; }

body {
  max-width: 700px;
  margin: 3em auto;
  padding: 0 1em;
  font: 400 20px/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  @media (max-width: 800px) {
    body {
      font-size: 16px; } }
  @media (max-width: 500px) {
    body {
      font-size: 14px; } }

h1,
h2 {
  font-weight: 600;
  line-height: 1; }
  h1:after,
  h2:after {
    color: #ccc;
    font-size: 12px;
    font-weight: 400; }

h1 {
  font-size: 3.35em;
  font-weight: 700; }
  h1:after {
    content: " 67px"; }

h2 {
  font-size: 1.8em; }
  h2:after {
    content: " 36px"; }

/*# sourceMappingURL=style.css.map */
