@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,700italic);

//Color variables
$type1-color: #4680FF;
$type2-color: #28A738;
$type3-color: #FF281D;
$type4-color: darken(#E8D01D, 2%);
$type5-color: #FF6917;

//border radius variables
$type1-br: 0px;
$type2-br: 8px;
$type3-br: 12px;
$type4-br: 18px;
$type5-br: 24px;

//mixins
@mixin btn-effects {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  &:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
  }
  &:focus {
    outline: 0;
  }
}


* { 
  box-sizing: border-box; 
}

section {
  text-align: center;
}

button{
  font: 400 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;  
  font-size: 16px;
  letter-spacing: 0.05em; 
  text-transform: uppercase;
  color: white;
  border: solid 1px currentColor;
  padding: 1em;
  margin: 1.5em 1em;
  font-weight: 500;
}

.type1{  
    .pri{
      // primary attribtes
      color: lighten($type1-color, 50%);
      background-color: $type1-color;
      border: solid 1px transparent;
      @include btn-effects;

    }
    .sec{
      // secondary attributes
      color: $type1-color;
      background-color: white;
      @include btn-effects;
    }  
}

.type2{
    .pri{
     // primary attribtes
      color: lighten($type2-color, 50%);
      background-color:$type2-color;
      border: solid 1px transparent;
      border-radius: $type2-br;
      @include btn-effects;
    }
    .sec{
      // secondary attributes
      color: $type2-color;
      background-color: white;
      border-radius: $type2-br;
      @include btn-effects;
    }  
}

.type3{
    .pri{
     // primary attribtes
      color: lighten($type3-color, 50%);
      background-color:$type3-color;
      border: solid 1px transparent;
      border-radius: $type3-br;
      @include btn-effects;
    }
    .sec{
      // secondary attributes
      color: $type3-color;
      background-color: white;
      border-radius: $type3-br;
      @include btn-effects;
    }  
}

.type4{
    .pri{
     // primary attribtes
      color: lighten($type4-color, 50%);
      background-color:$type4-color;
      border: solid 1px transparent;
      border-radius: $type4-br;
      @include btn-effects;
    }
    .sec{
      // secondary attributes
      color: $type4-color;
      background-color: white;
      border-radius: $type4-br;
      @include btn-effects;
    }  
}

.type5{
    .pri{
     // primary attribtes
      color: lighten($type5-color, 50%);
      background-color:$type5-color;
      border: solid 1px transparent;
      border-radius: $type5-br;
      @include btn-effects;
    }
    .sec{
      // secondary attributes
      color: $type5-color;
      background-color: white;
      border-radius: $type5-br;
      @include btn-effects;
    }  
}
// Em conversion function
@function em($value, $context: $body) {
	@return ($value / $context * 1em);
}
// Easier way to see/edit values
$body:  20px;

$h1: 67px; // 54 works nicely, as well
$h2: 36px;
$h3: 30px;
$h4: 24px;
$h5: 20px;
$h6: 16px;

body {
  background-color: #f9f9f9;
  max-width: 700px;
  margin: 3em auto;
  padding: 0 1em;
  font: 400 #{$body}/1.5 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  @media ( max-width: 800px ) {
    font-size: 16px;
  }
  @media ( max-width: 500px ) {
    font-size: 14px;
  }
}

h1,
h2 {
  font-weight: 600;
  line-height: 1;
  
  &:after {
    color: #ccc;
    font-size: 12px;
    font-weight: 400;
  }
}

h1 {
  font-size: em($h1);
  font-weight: 700;
  
  &:after {
    content: ' #{$h1}'
  }
}

h2 {
  font-size: em($h2);
  
  &:after {
    content: ' #{$h2}'
  }
}